<!DOCTYPE html>
<html ng-app="recipeApp">
<meta charset="ISO-8859-1">
<title>Recipe App</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="js/recipe-app.js"></script>
<link rel="stylesheet" href="css/style.css"/>
</head>
<body ng-controller="RecipeController">
<div class="container">
    <div style="background-color:indianred;padding:15px;text-align:center;">
        <h1>CGI Technical Assignment (Recipe App)</h1>
    </div>
    <div>
        <div class="col-sm-2">
            <h4><a ng-click="getAllRecipes()">Recipes</a></h4>
        </div>
        <div class="col-sm-3">
            <h4><a href="ingredient-recipes.html">Ingredients Recipes</a></h4>
        </div>
        <div class="col-sm-3">
            <h4><a href="logs.html">Logs</a></h4>
        </div>
    </div>
</div>

<div>
    <div ng-hide='recipes == null'>
        <table id="t01" border="1">
            <tr>
                <th>Title</th>
                <th>Href</th>
                <th>Ingredients</th>
                <th>Thumbnail</th>
            </tr>

            <tr ng-repeat="recipe in recipes">
                <td>{{ recipe.title }}</td>
                <td>{{ recipe.href }}</td>
                <td>{{ recipe.ingredients }}</td>
                <td>{{ recipe.thumbnail }}</td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>
