<!DOCTYPE html>
<html ng-app="recipeApp">
<head>
    <meta charset="ISO-8859-1">
    <title>Recipe App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="js/recipe-app.js"></script>
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body ng-controller="RecipeController">
<div class="container">
    <div style="background-color:indianred;padding:15px;text-align:center;">
        <h1>CGI Technical Assignment (Recipe App)</h1>
    </div>
</div>

<table>
    <tr>
        <td class="col-sm-2" style="white-space:nowrap; margin: 26px;padding-left: 350px;border: none;">
            <label>Select ingredients</label><br/>
            <select name="multipleSelect" id="multipleSelect" ng-model="data.multipleSelect" multiple>
                <option value="onions">Onions</option>
                <option value="rice">Rice</option>
                <option value="garlic">Garlic</option>
                <option value="butter">Butter</option>
                <option value="chicken">Chicken</option>
                <option value="salmon">Salmon</option>
                <option value="salt">Salt</option>
                <option value="ham">Ham</option>
                <option value="water">Water</option>
                <option value="dijon mustard">Dijon mustard</option>
                <option value="italian bread">Italian bread</option>
                <option value="pita bread">Pita bread</option>
                <option value="vinegar">Vinegar</option>
                <option value="vegetable oil">Vegetable oil</option>
                <option value="olive oil">Olive oil</option>
                <option value="romano cheese">Romano cheese</option>
                <option value="mushrooms">Mushrooms</option>
                <option value="heavy cream">Heavy cream</option>
                <option value="port wine">Port wine</option>
                <option value="black pepper">Black pepper</option>
                <option value="blue cheese">Blue cheese</option>
                <option value="soy sauce">Soy sauce</option>
                <option value="red onions">Red onions</option>
                <option value="italian dressing">Italian dressing</option>
                <option value="sandwich rolls">Sandwich rolls</option>
                <option value="mayonaise">Mayonaise</option>
                <option value="barbecue sauce">Barbecue sauce</option>
                <option value="lettuce">Lettuce</option>
                <option value="tomato">Tomato</option>
                <option value="balsamic vinegar">Balsamic vinegar</option>
                <option value="rosemary">Rosemary</option>
                <option value="bacon">Bacon</option>
                <option value="eggs">Eggs</option>
                <option value="mustard">Mustard</option>
                <option value="pastry">Pastry</option>
                <option value="pancetta">Pancetta</option>
            </select>
        </td>
        <td style="margin: 32px;border: none"><h4><a ng-click="getRecipeByIngredients(data.multipleSelect)">Find
            Recipes</a></h4></td>
        <td style="margin: 32px;padding-right: 900px;border: none"><h4><a href="index.html">Back</a></h4></td>
    </tr>
</table>
<div ng-hide='recipes == null || recipes.length == 0'>
    <table id="t01" border="1">
        <tr>
            <th>Title</th>
            <th>Href</th>
            <th>Ingredients</th>
            <th>Thumbnail</th>
        </tr>
        <tr ng-repeat="recipe in recipes">
            <td>{{ recipe.title }}</td>
            <td>{{ recipe.href }}</td>
            <td>{{ recipe.ingredients }}</td>
            <td>{{ recipe.thumbnail }}</td>
        </tr>
    </table>
</div>
<div ng-hide='recipes == null || recipes.length > 0'>
    <h2>There's no recipes with selected ingredient(s)</h2>
</div>
</body>
</html>
