<!DOCTYPE html>
<html ng-app="recipeApp">
<head>
    <meta charset="ISO-8859-1">
    <title>Recipe App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="js/recipe-app.js"></script>
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body ng-controller="RecipeController">
<div class="container">
    <div style="background-color:indianred;padding:15px;text-align:center;">
        <h1>CGI Technical Assignment (Recipe App)</h1>
    </div>
</div>
<table>
    <tr>
        <td class="col-sm-2" style="white-space:nowrap; margin: 26px;padding-left: 350px;border: none;">
            <label>Select Log Level</label><br/>
            <input type="radio" ng-model="logLevel" value="info"> Info<br/>
            <input type="radio" ng-model="logLevel" value="debug"> Debug<br/>
            <input type="radio" ng-model="logLevel" value="error"> Error<br/>
            <input type="radio" ng-model="logLevel" value="warn"> Warn
        </td>
        <td style="margin: 32px;border: none;"><h4><a ng-click="getAllLogsByFilter(logLevel)">Find Logs</a></h4></td>
        <td style="margin: 32px;padding-right: 900px;border: none"><h4><a href="index.html">Back</a></h4></td>
    </tr>
</table>

<div ng-show='logs != null'>
    <table id="t01" border="1">
        <tr>
            <th>Description</th>
            <th>No of occurences</th>
        </tr>
        <tr ng-repeat="(key, value) in logs">
            <td>{{ key }}</td>
            <td>{{ value }}</td>
        </tr>
    </table>
</div>
</body>
</html>
